html, body {
    margin-top: 125px;
    height: 100%;
}

img{

  height: 80px;

}

.title{

  display: flex;
  justify-content: center;
  align-items: center;

}

.sub-title p{

  display: flex;
  justify-content: center;
  align-items: center;
  color: #a6c5fe;

}

#button-addon2{ 

  color: #fff;
  background-color: #5086ec;
  font-size: 14px;
  border-radius: 0px 100px 100px 0px;
  display: flex;
  border-color: #e7e7e7;
  
}

.input-group{

  border-radius: 0px 100px 100px 0px;
  border-color: #e7e7e7;
}

#task-form{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

input.form-control{

    border-radius: 100px 0px 0px 100px;
    display: flex;
    border-color: #e7e7e7;
    height: 42px;
    margin-top: 14px;
}

.input-group-append{

  margin-top: 14px;
}